.to-do-tasks {
    &__task {
        background-color: #fff;
        border-radius: 10px;
        min-height: 35px;
        padding: 5px 0 5px 5px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 15px;
    }

    &__btn {
        background-color: $main-btn;
        height: 25px;
        margin: 0 3px;
        padding-left: 8px;
    
        &:active {
            transform: translateY(1px);
        }
    }

    &__text {
        word-break: break-all;
    }
}

.done-tasks {
    &__task {
        background-color: rgba($color: #fff, $alpha: .5);
        border-radius: 10px;
        min-height: 35px;
        padding: 5px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }

    &__text {
        word-break: break-all;
    }

    &__information {
        margin-bottom: 5px;
    }

    &__btn {
        background-color: $main-btn;
        height: 25px;
        width: 25px;
        padding-left: 7px;
    
        &:active {
            transform: translateY(1px);
        }
    }
}

@media screen and (min-width: $third-break-point) {
    .to-do-tasks {
        &__task {
            min-height: 55px;
            padding: 10px;
        }

        &__item {
            margin-top: 10px;
        }

        &__btn {
            height: 35px;
        }

        &__text {
            font-size: 2rem;
        }

        &__information {
            font-size: 1.8rem;
        }
    }

    .done-tasks {
        &__task {
            min-height: 55px;
            padding: 10px;
        }

        &__btn {
            height: 35px;
            width: 30px;
            padding-left: 8px;
            padding-right: 6px;
        }

        &__text {
            font-size: 2rem;
        }

        &__information {
            font-size: 1.8rem;
        }
    }
}

@media screen and (min-width: $fourth-break-point) {
    .to-do-tasks {
        &__btn {
            &:hover {
                background-color: lighten($main-btn, 5);
            }
        }
    }

    .done-tasks {
        &__btn {
            &:hover {
                background-color: lighten($main-btn, 5);
            }
        }
    }
}