.center-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
}

.functional-btn {
    border: none;
    border-radius: 10px;
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
}

@media screen and (min-width: $secound-break-point) {
    .center-wrapper {
        padding-left: 12%;
        padding-right: 12%;
    }
}

@media screen and (min-width: $third-break-point) {
    .functional-btn {
        font-size: 2.2rem;
    }
}

@media screen and (min-width: $fourth-break-point) {
    .center-wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
}