.center-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
}

.functional-btn {
    border: none;
    border-radius: 10px;
    font-size: 1.7rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}