//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$main-font: 'Montserrat', sans-serif;
$Arial: Arial, Helvetica, sans-serif;

//colors

$dark-red: #A64251;
$main-btn: #F14F4E;
$added-btn: #FACFCA;

//break-points

$first-break-point: 20.688em; //331px
$secound-break-point: 26.250em; //420px
$third-break-point: 43.750em; //700px
$fourth-break-point: 75.000em; //1200px
$fifth-break-point: 87.500em //1400px