.header {
    color: white;
    text-align: center;
    padding: 50px 0 40px;
    position: relative;

    &__title {
        margin: 0;
        font-size: 2.4rem;
        font-family: $main-font;
        letter-spacing: 3px;
    }

    &__info {
        position: absolute;
        right: 5px;
        top: 63px;
        transform: translate(-50%,-50%);
        width: 30px;
        height: 30px;
        background-image: url(../../assets/icon/info-solid.svg);
        background-repeat: no-repeat;
        background-color: rgba(255, 255, 255, 0);
        filter: invert(100%);
        border: none;
        outline: none;
        cursor: pointer;
    }
}

@media screen and (min-width: $first-break-point) {
    .header {
        &__info {
            &:active {
                width: 32px;
                height: 32px;
            }
        }
    }
}

@media screen and (min-width: $third-break-point) {
    .header {
        &__title {
            font-size: 3.4rem;
        }
    }
}

@media screen and (min-width: $fourth-break-point) {
    .header {
        &__title {
            font-size: 4.4rem;
            margin-bottom: 80px;
        }

        &__info {
            &:hover {
                filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(140%) contrast(40%);
            }

            &:active {
                width: 33px;
                height: 33px;
            }
        }
    }
}