body {
    font-family: $main-font;
    background: linear-gradient(#FDC9BD, #EC8585);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

@media screen and (min-width: $fourth-break-point) {
    .main {
        display: flex;
        flex-direction: row-reverse;
    }
}