.to-do-form {
    display: flex;
    margin-bottom: 35px;

    &__text {
        border: none;
        width: 100%;
        height: 35px;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 15px;
        outline: none;
    }

    &__check {
        appearance: none;
        outline: none;
        width: 35px;
        height: 35px;
        margin-right: 10px;
        background-image: url(../../../assets/icon/fire-solid.svg);
        filter: invert(100%);
        background-repeat: no-repeat;
        cursor: pointer;

        &:checked {
            filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
        }
    }

    &__btn {
        border-radius: 50%;
        border: none;
        background-color: $main-btn;
        color: white;
        font-size: 3rem;
        min-width: 35px;
        height: 35px;
        outline: none;
        cursor: pointer;
    
        &:active {
            transform: translateY(1px);
        }
    }
}

@media screen and (min-width: $third-break-point) {
    .to-do-form {
        &__text {
            height: 45px;
            font-size: 2rem;
        }

        &__check {
            width: 45px;
            height: 45px;
        }

        &__btn {
            min-width: 45px;
            height: 45px;
        }
    }
}

@media screen and (min-width: $fourth-break-point) {
    .to-do-form {
        &__btn {
            &:hover {
                background-color: lighten($main-btn, 5);
            }
        }
    }
}